ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
h1{
    border: 2px solid red;
    text-align: center;
    background-color: blue;
}
body{
    background-color: rgb(173, 172, 169);
}
.mainContent{
    padding: 7px;
}